/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
/*默认设置部分*/
body,html{font-family:"Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";background-color: #fff; color: #444;}
html{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);} /***去除点击蓝色块***/
ul,p{padding: 0;margin: 0;}
ul{list-style:none;}
/*常用基础样式部分 */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";} .f-cb,.f-cbli li{zoom:1;} .f-bc{margin: 0 auto;} .f-dn{display:none;} .f-db{display:block;} .f-fl{float:left;} .f-fr{float:right;} .f-pr{position:relative;} .f-pa{position: absolute;} .f-pf{position: fixed;}.f-oh{overflow:hidden;} .f-fz12{font-size:12px;} .f-fz14{font-size:14px;} .f-fz16{font-size: 16px;}.f-fwb{font-weight:bold;}  .f-fwn{font-weight:normal;} .f-tal{text-align:left;} .f-tac{text-align:center;} .f-tar{text-align:right;} .f-cp{cursor: pointer}
/*常用间距辅助样式 */
.f-p0{padding: 0;}
.f-p5{padding: 5px;}
.f-p10{padding: 10px;}
.f-p15{padding: 15px;}
.f-p20{padding: 20px;}
.f-pt0{padding-top: 0;}
.f-pt5{padding-top: 5px;}
.f-pt10{padding-top: 10px;}
.f-pt15{padding-top: 15px;}
.f-pt20{padding-top: 20px;}
.f-pl0{padding-left: 0;}
.f-pl5{padding-left: 5px;}
.f-pl10{padding-left: 10px;}
.f-pl15{padding-left: 15px;}
.f-pl20{padding-left: 20px;}
.f-pr0{padding-right: 0;}
.f-pr5{padding-right: 5px;}
.f-pr10{padding-right: 10px;}
.f-pr15{padding-right: 15px;}
.f-pr20{padding-right: 20px;}
.f-pb0{padding-bottom: 0;}
.f-pb5{padding-bottom: 5px;}
.f-pb10{padding-bottom: 10px;}
.f-pb15{padding-bottom: 15px;}
.f-pb20{padding-bottom: 20px;}

.f-m0{margin: 0;}
.f-m5{margin: 5px;}
.f-m10{margin: 10px;}
.f-m15{margin: 15px;}
.f-m20{margin: 20px;}
.f-mt0{margin-top: 0;}
.f-mt5{margin-top: 5px;}
.f-mt10{margin-top: 10px;}
.f-mt15{margin-top: 15px;}
.f-mt20{margin-top: 20px;}
.f-ml0{margin-left: 0;}
.f-ml5{margin-left: 5px;}
.f-ml10{margin-left: 10px;}
.f-ml15{margin-left: 15px;}
.f-ml20{margin-left: 20px;}
.f-mr0{margin-right: 0;}
.f-mr5{margin-right: 5px;}
.f-mr10{margin-right: 10px;}
.f-mr15{margin-right: 15px;}
.f-mr20{margin-right: 20px;}
.f-mb0{margin-bottom: 0;}
.f-mb5{margin-bottom: 5px;}
.f-mb10{margin-bottom: 10px;}
.f-mb15{margin-bottom: 15px;}
.f-mb20{margin-bottom: 20px;}

/* 定位辅助 */
.f-tl{top: 0;left: 0;}
.f-tr{top: 0;right: 0;}
.f-tl{top: 0;left: 0;}
.f-tl{top: 0;left: 0;}
/* 多行文字溢出 */
.f-textclamp{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*这里修改为要显示的行数*/
    -webkit-box-orient: vertical;
}
/*单行文字溢出加点 ps:Firefox 下不显示...*/
.f-textof{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}

.g-fl{display: inline-block;float: left;}
.g-fr{display: inline-block;float: right;}
.g-w{width: 100%;}
.g-w95{width: 95%;*width:94.99%;}
.g-w90{width: 90%;*width:89.99%;}
.g-w85{width: 85%;*width:84.99%;}
.g-w80{width: 80%;*width:79.99%;}
.g-w75{width: 75%;*width:74.99%;}
.g-w70{width: 70%;*width:69.99%;}
.g-w65{width: 65%;*width:64.99%;}
.g-w60{width: 60%;*width:59.99%;}
.g-w55{width: 55%;*width:54.99%;}
.g-w50{width: 50%;*width:49.99%;}
.g-w45{width: 45%;*width:44.99%;}
.g-w40{width: 40%;*width:39.99%;}
.g-w35{width: 35%;*width:34.99%;}
.g-w33{width: 33.33333%;}
.g-w30{width: 30%;*width:29.99%;}
.g-w25{width: 25%;*width:24.99%;}
.g-w20{width: 20%;*width:19.99%;}
.g-w15{width: 15%;*width:14.99%;}
.g-w10{width: 10%;*width:9.99%;}
.g-w5{width: 5%;*width:4.99%;}

/* 配合自适应调整布局 */
.PC .pc-show,.MC .mc-show{display: block!important;}
.PC .pc-hide,.MC .mc-hide{display: none!important;}

.MC .g-mw{width: 100%;}
.MC .g-mw95{width: 95%;}
.MC .g-mw90{width: 90%;}
.MC .g-mw85{width: 85%;}
.MC .g-mw80{width: 80%;}
.MC .g-mw75{width: 75%;}
.MC .g-mw70{width: 70%;}
.MC .g-mw65{width: 65%;}
.MC .g-mw60{width: 60%;}
.MC .g-mw55{width: 55%;}
.MC .g-mw50{width: 50%;}
.MC .g-mw45{width: 45%;}
.MC .g-mw40{width: 40%;}
.MC .g-mw35{width: 35%;}
.MC .g-mw33{width: 33.33333%;}
.MC .g-mw30{width: 30%;}
.MC .g-mw25{width: 25%;}
.MC .g-mw20{width: 20%;}
.MC .g-mw15{width: 15%;}
.MC .g-mw10{width: 10%;}
.MC .g-mw5{width: 5%;}

/* 颜色辅助 */
.f-bcw{
  background-color: #fff;
}
.f-bcdark{
  background-color: #f4f4f4;
}

/*input 默认样式*/
/* select,textarea,input{  border: 2px solid #dce4ec;}
textarea,input{
    padding:6px 12px;line-height:normal;
    box-sizing: border-box;  height: auto;
    font-size: 14px;;border-radius: 3px;}
input{*padding:0;*line-height:30px;
    *padding-left: 4%;*padding-right: 4%;}
textarea{line-height: 22px;}
input:-moz-read-write{text-indent:4%;}
/*select默认样式*/
/*select{line-height: 31px;
    height: 31px;border-radius: 3px;}
textarea{height: 150px;}
textarea:focus,input:focus,select:focus{transition: all 0.3s linear;outline:0;border-color: #2c3e50;}
textarea.error,input.error{
    border-color: #ed0049;}
textarea.success,input.success{
    border-color:#18bc9c;} */
