<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat color="primary">
        <q-icon name="reply"/>
      </q-btn>
      <q-toolbar-title style="text-align: center">
        患者列表
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" @click="$router.push('/addPatient')"/>
      </q-btn>
    </q-toolbar>
    <div class="search">
      <q-search class="col-sm-8"  v-model="searchText"  placeholder="搜索" @blur="search" @keyup="search"/>
    </div>
    <q-pull-to-refresh
      pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
      class="patient-list f-bcw" :handler="refresh">
      <q-list highlight no-border multiline class="list">
        <q-infinite-scroll
          ref="infiniteScroll" :handler="loadMore" >
          <q-item v-for="(patient, index) in $store.state.patient.patientList" :key="index" @click="getPatientInfo(index)">
            <q-item-side >
              <q-item-tile icon="account circle" color="yellow-9" size="36px"/>
            </q-item-side>
            <q-item-main>
              <q-item-tile label>{{patient.name}} {{patient.sex}}</q-item-tile>
              <q-item-tile sublabel>ID: {{patient.identityId}}</q-item-tile>
            </q-item-main>
          </q-item>
        </q-infinite-scroll>
      </q-list>
    </q-pull-to-refresh>
  </q-layout>
</template>
<style scoped>
  .search{
    background-color: white;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
    padding: 5px 10px;
  }
  .patient-list {
    margin-top: 50px;
  }
  .list {
    padding-bottom: 50px;
  }
</style>
<script>
  import $C from '../../plugins/$C';
  export default{
    data() {
      return {
        searchText: '',
      };
    },
    mounted() {
      this.init();
    },
    methods: {
      async getPatientInfo(index) {
        this.$store.state.patient.patientInfo = this.$store.state.patient.patientList[index];
        this.$router.push('/patientInfo');
      },
      async init() {
        const user = this.ensureLogin();
        if (user) {
          await this.$store.dispatch('patient/refresh');
          this.$refs.infiniteScroll.reset();
          this.$refs.infiniteScroll.resume();
        }
      },
      async refresh(done) {
        await this.$store.dispatch('patient/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.patient.patientList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('patient/loadMore', index);
        done();
      },
      async search() {
        await this.$store.dispatch('patient/search', this.searchText);
        await this.$store.dispatch('patient/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
      },
    },
  };
</script>


