<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <div class="f-bcw f-pb20">
      <div class="row">
        <div class="col-8">
          <div class="user-title">
            <span class="user-title-name">{{$store.state.corsuser.user.name}}</span>
            <q-chip square color="primary" class="user-title-1">{{$store.state.corsuser.user.jobLevelName}}</q-chip>
            <div>
              {{$store.state.corsuser.user.orgName}}
              <span>{{$store.state.corsuser.user.deptName}}</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img class="user-title-icon" :src="baseSys+'common/getHeadPortrait?peopleId='+$store.state.corsuser.user.peopleId" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <q-list>
            <div class="user-num f-tac">148</div>
            <div class="f-tac">业务量</div>
          </q-list>
        </div>
        <div class="col-6">
          <q-list>
            <div class="user-num f-tac">265</div>
            <div class="f-tac">患者数</div>
          </q-list>
        </div>
      </div>
    </div>
    <q-list highlight no-border class="f-mt5 f-bcw">
      <q-item>
        <q-item-side>
          <q-item-tile icon="settings" color="positive" size="36px" />
        </q-item-side>
        <q-item-main>
          <q-item-tile label>业务设置</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item-separator inset />
      <q-item to="/releaseNotes">
        <q-item-side>
          <q-item-tile icon="present_to_all" color="info" size="36px" />
        </q-item-side>
        <q-item-main>
          <q-item-tile label>发布消息</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item-separator inset />
      <q-item to="/mycard">
        <q-item-side>
          <q-item-tile icon="contact mail" color="primary" size="36px" />
        </q-item-side>
        <q-item-main>
          <q-item-tile label>我的名片</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item-separator inset />
      <q-item to="/userInfo">
        <q-item-side>
          <q-item-tile icon="style" color="yellow-9" size="36px" />
        </q-item-side>
        <q-item-main>
          <q-item-tile label>个人资料</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item-separator inset />
      <q-item to="/aboutUs">
        <q-item-side>
          <q-item-tile icon="account circle" color="secondary" size="36px" />
        </q-item-side>
        <q-item-main>
          <q-item-tile label>关于我们</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item-separator inset />
      <q-item @click="logout">
        <q-item-side>
          <q-item-tile icon="cancel" color="negative" size="36px" />
        </q-item-side>
        <q-item-main>
          <q-item-tile label>退出登陆</q-item-tile>
        </q-item-main>
      </q-item>
    </q-list>
  </q-layout>
</template>
<style scoped>
.user-title {
  margin: 30px;
}
.user-title-name {
  font-size: 40px;
}
.user-title-1 {
  margin-bottom: 15px;
  margin-left: 20px;
}
.user-title-icon {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: #e9e9e9;
  margin-top: 20px;
}
.user-num {
  font-size: 30px;
  color: #0086ff;
}
</style>

<script>
import $C from '../../plugins/$C';
export default {
  data() {
    return {
      baseSys: $C.baseSys,
    };
  },
  mounted() {
    this.ensureLogin();
  },
  methods: {
    logout() {
      this.systemLogout();
      this.jump('workspace');
    },
  },
};
</script>
