<template>
  <q-layout ref="layout" view="hHr LpR lFr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" color="primary"/>
      </q-btn>
      <q-toolbar-title vertical-middle style="text-align: center">
        工作台
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="icon-xiaoxi" class="iconfont" size="23px" @click="$router.push('/info')"/>
      </q-btn>
    </q-toolbar>
    <img class="home-slider-img" src="../../assets/image/banner.png"/>
    <div class="row f-bcw" @click="$router.push('/notice')">
      <div class="col-2 row justify-center"><q-icon name="icon-announcement" class="iconfont" color="primary" size="38px"/></div>
      <div class="col-10 notice">{{ $store.state.notice.noticeList.length ? $store.state.notice.noticeList[0].articleTitle : '' | slice(18)}}</div>
    </div>
    <div class="f-bcw f-mt5">
      <div class="row " >
        <div class="col f-mt10 " @click="$router.push('/referral/referralOut')">
          <div class="row justify-center">
            <q-icon name="icon-shuangxiangzhuanzhen" class="iconfont" color="primary " size="36px" />
          </div>
            <div class="f-tac f-fz14">双向诊断</div>
        </div>
        <div class="col f-mt10 " @click="$router.push('/consult/consultOut')">
          <div class="row justify-center">
            <q-icon name="icon-yuanchenghuizhen" class="iconfont" color="amber-6 " size="36px" />
          </div>
          <div class="f-tac f-fz14">远程会诊</div>
        </div>
        <div class="col f-mt10 " @click="$router.push('/radiology/radiology')">
          <div class="row justify-center">
            <q-icon name="icon-yingxiang" class="iconfont" color="light-blue-6" size="36px" />
          </div>
          <div class="f-tac f-fz14">影像诊断</div>
        </div>
      </div>
      <div class="row " style="margin-top: 20px">
        <div class="col f-mt10 f-mb10" @click="notUsed()">
          <div class="row justify-center">
            <q-icon name="icon-xindianzhenduan" class="iconfont" color="indigo-6" size="36px" />
          </div>
          <div class="f-tac f-fz14">心电诊断</div>
        </div>
        <div class="col f-mt10 f-mb10" @click="notUsed()">
          <div class="row justify-center">
            <q-icon name="icon-binglixue" class="iconfont" color="deep-orange-6 " size="36px" />
          </div>
          <div class="f-tac f-fz14">病理诊断</div>
        </div>
        <div class="col f-mt10 f-mb10" @click="notUsed()">
          <div class="row justify-center">
            <q-icon name="icon-tingzhenqi" class="iconfont" color="pink-6" size="36px" />
          </div>
          <div class="f-tac f-fz14">门诊协助</div>
        </div>
      </div>
    </div>
    <q-list no-border class="f-bcw f-mt5">
      <q-item>
        <q-item-main>
          <q-item-tile label>事项处理</q-item-tile>
        </q-item-main>
        <q-item-side right @click="$router.push('/event')">
          <span>更多</span>
        </q-item-side>
      </q-item>
      <q-item-separator/>
      <q-item v-for="(event, index) in $store.state.event.eventList.slice(0, 5)" :key="index" @click="doEvent(event)">
        <q-item-side >
          <q-item-tile icon="loyalty" color="yellow-9" size="36px"/>
        </q-item-side>
        <q-item-main>
          <q-item-tile label>{{event.typeName}}</q-item-tile>
          <q-item-tile sublabel>{{event.taskTitle}}</q-item-tile>
        </q-item-main>
        <q-item-side right>
          <q-item-tile stamp>{{event.createDate}}</q-item-tile>
          <q-item-tile stamp>{{event.createTime}}</q-item-tile>
        </q-item-side>
      </q-item>
    </q-list>
  </q-layout>
</template>
<style scoped>
  .home-slider-img{
    width: 100%;
    height: 200px;

  }
  .notice {
    margin-top: 8px;
  }
  .info{
    float: right;
    margin-right: 10px;
    margin-top: 8px;
  }
  .q-tab-label {
    font-size: 10px;
  }
</style>
<script>
  import { Toast } from 'quasar-framework';
  export default{
    data() {
      return {};
    },
    mounted() {
      this.init();
    },
    methods: {
      async init() {
        const user = this.ensureLogin();
        if (user) {
          this.persistUser(user);
          try {
            await this.$store.dispatch('notice/refresh');
            await this.$store.dispatch('event/refresh');
          } catch (e) {
            Toast.create({
              html: e.message,
              icon: 'error',
              timeout: 2000,
            });
            this.systemLogout();
            this.ensureLogin();
          }
        }
      },
      doEvent(el) {
        switch (parseInt(el.typeId)) {
          case 1: this.jump('/referral/referralOut'); break;
          case 2: this.jump('/consult/consultOut'); break;
          case 5: this.jump('/radiology/radiology'); break;
          default:
            break;
        }
      },
    },
  };
</script>
