<template>
    <div>
        <iframe :src="url" seamless="seamless" :width="width" :height="height"></iframe>
    </div>
</template>
<script>
export default {
  name: 'w-view',
  props: {
    url: '',
    width: {
      default: '100%',
    },
    height: {
      default: '100%',
    },
  },
};
</script>
