<template>
  <q-layout ref="layout" view="hHr LpR lFr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        影像报告
      </q-toolbar-title>
      <span @click="$router.replace('radiologyImage')">阅片</span>
    </q-toolbar>
    <q-list-header class="f-mt10 f-bcw">基本信息</q-list-header>
    <q-item class="f-bcw user-height">
      <q-item-side>患者信息：</q-item-side>
      <q-item-main>
        <q-item-tile label>{{$store.state.radiologyIn.patientInfo.name}}   {{$store.state.radiologyIn.patientInfo.age}}   {{$store.state.radiologyIn.patientInfo.sex|fSex}}
        </q-item-tile>
      </q-item-main>
    </q-item>
    <q-item class="f-bcw">
      <q-item-side>检查时间：</q-item-side>
      <q-item-main>
        <q-item-tile label>{{$store.state.radiologyIn.patientInfo.reqDate}}  {{$store.state.radiologyIn.patientInfo.reqTime}}</q-item-tile>
      </q-item-main>
    </q-item>
    <q-item class="f-bcw">
    <q-item-side>报告时间：</q-item-side>
    <q-item-main>
      <q-item-tile label>{{$store.state.radiologyReport.reportDate}}</q-item-tile>
    </q-item-main>
  </q-item>
    <q-item class="f-bcw">
      <q-item-side>报告医生：</q-item-side>
      <q-item-main>
        <q-item-tile label>{{$store.state.radiologyReport.reportDoctorName}}</q-item-tile>
      </q-item-main>
    </q-item>
    <q-item class="f-bcw">
      <q-item-side>审核医生：</q-item-side>
      <q-item-main>
        <q-item-tile label>{{$store.state.radiologyReport.auditDoctorName}}</q-item-tile>
      </q-item-main>
    </q-item>
    <q-item class="f-bcw">
      <q-item-side>检查部位：</q-item-side>
      <q-item-main>
        <q-item-tile label>{{$store.state.radiologyIn.patientInfo.examClass}}</q-item-tile>
      </q-item-main>
    </q-item>
    </q-list>
    <q-list no-border >
      <q-list-header class="f-bcw">影像所见</q-list-header>
      <q-item class="row f-bcw">
        <textarea name="" class="input-textarea" :readonly="$store.state.radiologyReport.reportStatus==70" placeholder="请输入影像所见" rows="5" v-model="description"></textarea>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">影像诊断</q-list-header>
      <q-item class="row f-bcw">
        <textarea name="" class="input-textarea" :readonly="$store.state.radiologyReport.reportStatus==70" placeholder="请输入影像诊断" rows="5" v-model="impression"></textarea>
      </q-item>
    </q-list>
    <div class="submit-button row justify-center" v-if="$store.state.radiologyReport.reportStatus==70"></div>
    <div class="submit-button row justify-center" v-else>
      <q-btn color="primary" class="g-w90 f-m10"
             @click="submit()"
             :disabled="$store.state.radiologyReport.reportStatus!=56&&$store.state.radiologyReport.reportStatus!=60">
        {{$store.state.radiologyReport.reportStatus|fRadiologyMethod}}
      </q-btn>
    </div>

  </q-layout>
</template>

<script>
import { Toast } from 'quasar-framework';
export default {
  data() {
    return {
    };
  },
  computed: {
    impression: {
      get() {
        return this.$store.state.radiologyReport.impression;
      },
      set(impression) {
        this.$store.commit('radiologyReport/updateImpression', impression);
      },
    },
    description: {
      get() {
        return this.$store.state.radiologyReport.description;
      },
      set(description) {
        this.$store.commit('radiologyReport/updateDescription', description);
      },
    },
  },
  methods: {
    async submit() {
      try {
        await this.$store.dispatch('radiologyReport/submit');
        this.back();
      } catch (e) {
        Toast.create({
          html: e.message,
          icon: 'error',
          timeout: 2000,
        });
      }
    },
  },
};
</script>

<style scoped>
  .user-height{
    height: 35px;
  }
 .input-textarea{
  border: 0;
  outline: 0;
  padding: 0;
  overflow: hidden;
  resize: none;
  color: black;
  height: 100px;
  width: 100%;
 }
 .submit-button{
   position: fixed;
   background-color: white;
   height: 60px;
   bottom:0;
   width: 100%;
 }
 .radiology-detail{
   margin-bottom: 60px;
 }
</style>
