<template>
  <q-layout ref="layout" view="hHr LpR lFr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        影像阅片
      </q-toolbar-title>
      <span @click="$router.replace('radiologyDetail')">报告</span>
    </q-toolbar>
    <w-view :url="$store.state.radiologyReport.dicomPath" class="w-view" ></w-view>
  </q-layout>
</template>

<script>
import WView from '../../components/WView.vue';
export default {
  components: {
    'w-view': WView,
  },
  data() {
    return {
      area: '',
    };
  },
  computed: {
    impression: {
      get() {
        return this.$store.state.radiologyReport.impression;
      },
      set(impression) {
        this.$store.commit('radiologyReport/updateImpression', impression);
      },
    },
    description: {
      get() {
        return this.$store.state.radiologyReport.description;
      },
      set(description) {
        this.$store.commit('radiologyReport/updateDescription', description);
      },
    },
  },
};
</script>

<style scoped>
 .input-textarea{
  border: 0;
  outline: 0;
  padding: 0;
  overflow: hidden;
  resize: none;
  color: black;
  height: 100px;
  width: 100%;
 }
 .submit-button{
   position: absolute;
   background-color: white;
   height: 60px;
   bottom:0;
   width: 100%;
 }
 .w-view{
   height: calc(100vh-50px);
 }
</style>
