<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-pull-to-refresh 
      pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
      class="consultDoctor-list f-bcw" :handler="refresh">   
      <q-list highlight no-border multiline>
        <q-infinite-scroll 
          ref="infiniteScroll" :handler="loadMore" > 
          <q-item v-for="(el, index) in $store.state.consultDoctor.friendList" :key="index" @click="selectDoctor(el)">
            <q-item-side >
              <q-item-tile icon="account circle" color="yellow-9" size="36px"/>
            </q-item-side>
            <q-item-main>
              <q-item-tile label>{{el.contactUser.name}} </q-item-tile>
              <q-item-tile sublabel>{{el.contactUser.orgName}} {{el.contactUser.deptName}} {{el.contactUser.jobLevelName | fJobLevel}}</q-item-tile>
            </q-item-main>
          </q-item>
        </q-infinite-scroll>
      </q-list>
    </q-pull-to-refresh>
  </q-layout>
</template>
<style scoped>
 .consultDoctor-list{
   height: 100vh;
 }
</style>
<script>
  import $C from '../../plugins/$C';
  export default{
    data() {
      return {
        searchText: '',
        eventType: '0',
      };
    },
    mounted() {
      if (this.$route.query.eventType) {
        this.eventType = this.$route.query.eventType;
      }
      this.init();
    },
    methods: {
      async init() {
        const user = this.ensureLogin();
        if (user) {
          await this.$store.dispatch('consultDoctor/refreshFriend');
          this.$refs.infiniteScroll.reset();
          this.$refs.infiniteScroll.resume();
        }
      },
      async refresh(done) {
        await this.$store.dispatch('consultDoctor/refreshFriend');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.consultDoctor.friendList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('consultDoctor/loadMoreFriend', index);
        done();
      },
      async selectDoctor(el) {
        await this.$store.dispatch('consult/addStaff', {
          serveDoctor: el.contactUser.userId,
          serveDoctorName: el.contactUser.name,
        });
      },
    },
  };
</script>


