<template>
    <q-layout ref="layout" view="hHr LpR lfr" class="layout">
        <q-toolbar color="primary">
            <q-btn flat>
                <q-icon name="reply" @click="back()" />
            </q-btn>
            <q-toolbar-title style="text-align: center">
                关于我们
            </q-toolbar-title>
        </q-toolbar>
        <q-list no-border>
            <q-item class="f-bcw f-mt0 f-pt15 f-pb15" @click="">
                <q-item-side>
                    <q-item-tile>关于我们</q-item-tile>
                </q-item-side>
                <q-item-main class="row justify-end">
                </q-item-main>
                <q-item-side right icon="keyboard arrow right" />
            </q-item>
            <q-item class="f-bcw f-mt0 f-pt15 f-pb15" @click="">
                <q-item-side>
                    <q-item-tile>改进建议</q-item-tile>
                </q-item-side>
                <q-item-main class="row justify-end">
                </q-item-main>
                <q-item-side right icon="keyboard arrow right" />
            </q-item>
            <q-item class="f-bcw f-mt0 f-pt15 f-pb15" @click="">
                <q-item-side>
                    <q-item-tile>帮助说明</q-item-tile>
                </q-item-side>
                <q-item-main class="row justify-end">
                </q-item-main>
                <q-item-side right icon="keyboard arrow right" />
            </q-item>
        </q-list>
        <q-item @click="logout" class="quit f-pb15">
            <q-btn color="negative" class="g-w f-pr f-bc" icon="cancel">
                注销
            </q-btn>
        </q-item>
    </q-layout>
</template>
<style scoped>
    .layout {
        height:100%
    }
    .quit{
        position: absolute;
        bottom:0;
        width: 100%;
    }
</style>
<script>
import $C from '../plugins/$C';
export default {
  data() {
    return {
      baseSys: $C.baseSys,
    };
  },
  methods: {
    logout() {
      this.systemLogout();
      this.jump('home/workspace');
    },
  },
};
</script>
