<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="$router.push('/user')" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        发布公告
      </q-toolbar-title>
      <q-btn flat>
        确定
      </q-btn>
    </q-toolbar>
    <q-input
      v-model="area0"
      type="textarea"
      stack-label="公告标题"
      placeholder="请输入公告标题"
      :max-height="100"
      :min-rows="7"
    />
    <q-input
      v-model="area1"
      type="textarea"
      stack-label="公告内容"
      placeholder="请输入公告内容"
      :max-height="100"
      :min-rows="7"
    />
  </q-layout>
</template>
<style scoped>

</style>
<script>
  export default{
    data() {
      return {
      };
    },
  };
</script>
