<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header"  color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        添加患者
      </q-toolbar-title>
      <q-btn flat @click="submit">
       提交
      </q-btn>
    </q-toolbar>
    <q-list no-border class="patient-list">
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15" >
        <q-item-side >
          <q-item-tile >患者姓名</q-item-tile>
        </q-item-side>
        <q-item-main class="row justify-end">
          <input v-model="name" type="text" placeholder="请输入患者姓名" class="input-item">
        </q-item-main>
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15" @click="selectSex">
        <q-item-side >
          <q-item-tile >患者性别</q-item-tile>
        </q-item-side>
        <q-item-main class="row justify-end" >
          <q-item-tile>{{sexCode|fSex}}</q-item-tile>
        </q-item-main>
        <q-item-side right icon="keyboard arrow right" />
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15" @click="selectBirthDate">
        <q-item-side >出生年月</q-item-side>
        <q-item-main class="row justify-end">
          <q-item-tile>{{birthDate?birthDate:"请选择出生年月"}}</q-item-tile>
        </q-item-main>
        <q-item-side right icon="keyboard arrow right" />
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15">
        <q-item-side >
          <q-item-tile >医保卡号</q-item-tile>
        </q-item-side>
        <q-item-main class="row justify-end">
          <input v-model="miCard" type="text" placeholder="请输入医保卡号" class="input-item">
        </q-item-main>
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15">
        <q-item-side >
          <q-item-tile >手机号码</q-item-tile>
        </q-item-side>
        <q-item-main class="row justify-end">
          <input v-model="phoneNo" type="number" placeholder="请输入手机号码" class="input-item">
        </q-item-main>
      </q-item>
      <q-item class="f-bcw f-mt5 f-pt15 f-pb15">
        <q-item-side >
          <q-item-tile >身份证号</q-item-tile>
        </q-item-side>
        <q-item-main class="row justify-end">
          <input v-model="identityId" type="number" placeholder="请输入身份证号" class="input-item">
        </q-item-main>
      </q-item>
    </q-list>
    <q-modal ref="dateModal" minimized style="overflow: hidden;">
        <flat-pickr
            style="overflow: hidden;"
            :config="configDate"
            type="date"
            placeholder=""
            v-model="birthDate">
        </flat-pickr>
    </q-modal>
  </q-layout>
</template>
<style scoped>
  .patient-list{
    height: 100vh;
  }
  .user-height{
    height: 35px;
  }
  .input-item{
    width: 80%;
    border: 0;
    outline: 0;
    padding: 0;
    overflow: hidden;
  }
</style>
<script>
  import $C from '../plugins/$C';
  import helper from '../plugins/helper';
  import { Dialog, Toast } from 'quasar-framework';
  import { Mandarin } from 'flatpickr/dist/l10n/zh.js';
  import moment from 'moment';
  export default{
    data() {
      return {
        sexCode: 0,
        name: '',
        birthDate: '',
        identityId: '',
        phoneNo: '',
        miCard: '',
        monthNames: $C.monthNames,
        dayNames: $C.dayNames,
        configDate: {
          altFormat: 'Y-m-d',
          dateFormat: 'Y-m-d',
          altInput: true,
          inline: true,
          locale: Mandarin,
        },
      };
    },
    methods: {
      selectSex() {
        const that = this;
        Dialog.create({
          title: '',
          message: ' ',
          form: {
            option: {
              type: 'radio',
              model: this.sexCode,
              items: [
                { label: '男', value: 0 },
                { label: '女', value: 1 },
              ],
            },
          },
          buttons: [
            '取消',
            {
              label: '确定',
              async handler(data) {
                that.sexCode = data.option;
              },
            },
          ],
        });
      },
      async submit() {
        const res = await helper.POST($C.medSys + 'v1/common/patient/add', {
          token: this.$store.state.corsuser.user.token,
          sexCode: this.sexCode,
          name: this.name,
          birthDate: this.birthDate,
          identityId: this.identityId,
          phoneNo: this.phoneNo,
          miCard: this.miCard,
        });
        if (!parseInt(res.status)) {
          Toast.create({
            html: '提交成功',
            icon: 'success',
            timeout: 2000,
          });
          this.back();
        } else {
          Toast.create({
            html: res.message,
            icon: 'error',
            timeout: 2000,
          });
        }
      },
      async selectBirthDate() {
        if (global.cordova && global.device && global.device.platform === 'Android') {
          const date = await helper.pickDatetime('date', this.birthDate);
          this.birthDate = moment(date).format('YYYY-MM-DD');
          return;
        }
        this.$refs.dateModal.open();
      },
    },
  };
</script>
