<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        预约时间
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" color="primary"/>
      </q-btn>
    </q-toolbar>
    <div class="row bg-primary">
      <div class="col-8 text-white">
        <div class="user-title">
          <span class="user-title-name">{{$store.state.referralDepartment.selectedDoctor.name}}</span>
          <q-chip square color="primary" class="user-title-1">{{$store.state.referralDepartment.selectedDoctor.doctorLevel | fJobLevel}}</q-chip>
          <div>
            {{$store.state.referralDepartment.selectedDoctor.hospitalName}}
            <span>{{$store.state.referralDepartment.selectedDoctor.deptName}}</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img  class="user-title-icon" :src="baseSys+'common/getHeadPortrait?peopleId='+$store.state.referralDepartment.selectedDoctor.doctorId" alt=""/>
      </div>
    </div>
    <div class="row bg-primary f-p20 text-white">
      {{$store.state.referralDepartment.selectedDoctor.speciality|slice(100)}}
    </div>
    <q-list highlight no-border multiline class="col-4 f-bcw">
      <div v-for="(el, index) in $store.state.appointment.appointmentList" :key="index">
        <!-- v-if="el.schedule.length" 存疑 是否需要？-->
        <q-item class="f-pt15 f-pb15">
          <q-item-main>
            <q-item-tile label >{{el.sourceDate}} {{moment(el.sourceDate).format('dddd')}}</q-item-tile>
          </q-item-main>
          <q-item-side right icon="keyboard arrow right" />
        </q-item>
        <div class="f-bcdark" >
          <q-chip color="grey-1" class="text-dark f-m10" v-for="(schedule, index) in el.schedule" :key="index" @click="selectSchedule(schedule)">{{schedule.timeBegin}}</q-chip>
        </div>
      </div>
    </q-list>   
  </q-layout>
</template>

<script>
  import moment from 'moment';
  moment.locale('zh-cn');
  import $C from '../plugins/$C';
  export default{
    data() {
      return {
        baseSys: $C.baseSys,
        moment,
        from: '',
      };
    },
    async mounted() {
      if (this.$route.query.from) {
        this.from = this.$route.query.from;
      }
      await this.init();
    },
    methods: {
      async init() {
        const user = this.ensureLogin();
        if (user) {
          await this.$store.dispatch('appointment/refresh', this.$store.state.referralDepartment.selectedDoctor.doctCode);
        }
      },
      async selectSchedule(el) {
        this.$store.commit('referral/updateReferralSchedule', el);
        if (this.from) {
          this.back();
          return;
        }
        this.go(-3);
      },
    },
  };
</script>

<style scoped>
  .user-title{
    margin: 30px;
  }
  .user-title-name{
    font-size:40px;
  }
  .user-title-1{
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .user-title-icon{
    height: 102px;
    width: 102px;
    border-radius: 76px;
    background-color: #E9E9E9;
    margin: 10px;
  }
  .user-yw{
    margin-left: 50px;
  }
  .user-num{
    font-size: 30px;
    color: #0086FF;;
  }
</style>


