<template>
  <q-layout ref="layout" view="hHr LpR lFr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        选择科室医生
      </q-toolbar-title>
      <span @click="submit()">确定</span>
    </q-toolbar>
    <q-tabs inverted no-pane-border slot="navigation" style="background-color:white" @select="selectTab">
      <q-tab slot="title" name="friend" :color="selected('friend') ? 'primary' : 'dark'" label="我的好友" default/>
      <q-tab slot="title" name="all" :color="selected('all') ? 'primary' : 'dark'" label="全部医生"  />
    </q-tabs>
    <div @click="mScroll"><nuxt-child/></div>
    <div slot="footer" class="footerFooter"> 
      <div class="f-ml10" style="padding-top: 5px;">已选医生:</div>
      <div slot="footer" class="hiddenIcon" @click="clearAll()">
        <q-btn round small color="primary">
          <q-icon name="delete"/>
        </q-btn>
      </div>
      <div id="m" class="doctor-list">
        <q-chip closable color="primary" class="f-m5" @close="deleteDoctor(el)" v-for="(el, index) in $store.state.consult.staffList" :key="index">
          {{el.serveDoctorName}}
        </q-chip>
      </div>
    </div>
  </q-layout>
</template>
<style scoped>

.footerFooter{
  width: 100%;
  bottom: 0%;
  background-color: #ffffff;
}
.hiddenIcon{
  bottom: 30px;
  background-color: #ffffff;
  float:right;
  align-self: center;
}
.doctor-list{
  word-break:keep-all;
  white-space:nowrap; 
  overflow: scroll;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 100px;
}
.doctor-list::-webkit-scrollbar
{
    width: 2px;
    height: 6px;
    visibility: hidden;
}
</style>
<script>
  export default{
    scrollToTop: true,
    data() {
      return {
        isActive1: false,
        isActive2: true,
        tip: '#m',
      };
    },
    mounted() {
      const that = this;
      this.$watch(() => that.$store.state.consult.staffList, () => { document.getElementById('m').scrollTo(document.getElementById('m').scrollWidth, 0); });
    },
    methods: {
      selectTab(name) {
        this.selectedTab = name;
        this.$router.replace(name);
      },
      selected(name) {
        if (this.$route.path.indexOf(name) > -1) {
          return true;
        }
        return false;
      },
      submit() {
        this.back();
      },
      async deleteDoctor(el) {
        await this.$store.dispatch('consult/removeStaff', el.serveDoctor);
      },
      mScroll() {
        // document.getElementById('m').scrollTo(document.getElementById('m').scrollWidth + 100, 0);
      },
      async clearAll() {
        await this.$store.dispatch('consult/removeAllStaff');
      },
    },
  };
</script>
