<template>
  <q-layout ref="layout" view="hHr LpR lFr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        远程会诊
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" @click="addConsult()"/>
      </q-btn>
    </q-toolbar>
    <q-tabs ref="tabs" inverted no-pane-border slot="navigation" style="background-color:white" @select="selectTab">
      <q-tab slot="title" name="consultOut" :color="selected('consultOut') ? 'primary' : 'dark'" label="会诊申请" />
      <q-tab slot="title" name="consultIn" :color="selected('consultIn') ? 'primary' : 'dark'" label="会诊处理"  />
    </q-tabs>
    <nuxt-child/>
  </q-layout>
</template>
<style scoped>
</style>
<script>
  export default{
    scrollToTop: true,
    data() {
      return {
      };
    },
    mounted() {
      if (this.$route.path.indexOf('consultOut') > -1) {
        this.$refs.tabs.selectTab('consultOut');
      } else {
        this.$refs.tabs.selectTab('consultIn');
      }
    },
    methods: {
      selectTab(name) {
        this.selectedTab = name;
        this.$router.replace(name);
      },
      selected(name) {
        if (this.$route.path.indexOf(name) > -1) {
          return true;
        }
        return false;
      },
      addConsult() {
        this.$store.commit('consult/resetConsult');
        this.jump('/consultRequest');
      },
    },
  };
</script>
