<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        会诊详情
      </q-toolbar-title>
      <span @click="doOption">{{$store.state.consult.consultDetail.consultStatus|fConsultOption(mode)}}</span>
    </q-toolbar>
    <q-list no-border>
      <q-list-header class="f-bcw">基本信息
        <q-chip class="status-chip" :color="$store.state.consult.consultDetail.consultStatus|fConsultColor" small>{{$store.state.consult.consultDetail.consultStatus|fConsultStatus}}</q-chip>
      </q-list-header>
      <q-item class="f-bcw">
        <q-item-side>姓名</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.patient.name}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>性别</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.patient.sex|fSex}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>年龄</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.patient.age}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>患者来源</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.extend.patientSource | fPatientSource}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">会诊信息</q-list-header>
      <q-item class="f-bcw">
        <q-item-side>会诊模式</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.consultDetail.consultMode|fConsultMode}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>预约时间</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.consultDetail.scheduledDate}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>申请医院</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.extend.reqHospitalName}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>申请医生</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.extend.reqDoctorName}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>会诊医生</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.staffList|fStaffList}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">病情资料</q-list-header>
      <q-item class="f-bcw">
        <q-item-side>初步诊断</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.consultDetail.firstVisit}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>会诊原因</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.consultDetail.consultPurpose}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>病情资料</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.consult.consultDetail.diseaseSummary}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">附件</q-list-header>
      <q-item class="f-bcw">
        <q-item-main>
          <q-item-tile label>
            <div class="preview-img-list">
              <img class="preview-img-item" v-for="(item, index) in items" :src="item.src" @click="$photoswipe.open(index, items)">
            </div>
          </q-item-tile>
        </q-item-main>
      </q-item>
    </q-list>
    <q-modal ref="positionModal" position="bottom" :content-css="{'max-height': '80vh', height: 'auto'}">
      <div class="row justify-center"></div>
      <q-btn color="primary" class="g-w90 f-m10" @click="verifyConsult()">同意
      </q-btn>
      <q-btn color="white" class="g-w90 f-m10 f-mt5 text-dark" @click="rejectConsult()">拒绝
      </q-btn>
      </div>
    </q-modal>
  </q-layout>
</template>
<style scoped>
.status-chip {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.preview-img-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.preview-img-item {
  padding: 5px;
  width: 100%;
}
</style>
<script>
import helper from '../plugins/helper';
import { Dialog, Toast } from 'quasar-framework';
export default {
  data() {
    return {
      mode: 0,
      items: [
        {
          src: 'http://f.hiphotos.baidu.com/image/pic/item/503d269759ee3d6db032f61b48166d224e4ade6e.jpg',
          w: 1600,
          h: 900,
        },
      ],
    };
  },
  computed: {
    gallery: {
      get() {
        return this.$store.state.consult.attachments.map(el => el.src);
      },
    },
  },
  async mounted() {
    if (this.$route.query.mode) {
      this.mode = this.$route.query.mode;
      await this.$store.dispatch('consult/acquireAttachments');
    }
  },
  methods: {
    doOption() {
      const that = this;
      if (!this.$store.state.consult.consultDetail.consultStatus) return;
      switch (parseInt(this.$store.state.consult.consultDetail.consultStatus)) {
        case 1:
          return this.modifyConsult();
        case 2:
          if (parseInt(that.mode) !== 0) {
            this.$refs.positionModal.open();
            return;
          }
          return this.revertConsult();
        case 3:
          return this.startConsult();
        case 4:
          return this.jump('/consultReport');
        case 5:
          return this.jump('/consultReport');
        case 6:
          return this.jump('/consultReport');
        case 7:
          return this.jump('/consultReport');
        case 99:
          return this.jump('/consultReport');
        default:
          return '';
      }
    },
    startConsult() {
      const user = this.ensureLogin();
      if (this.$store.state.consult.extend.groupId) {
        helper.startConsult(
          user.userId,
          this.$store.state.consult.extend.groupId
        );
      }
    },
    modifyConsult() {
      this.jump('/consultReport');
    },
    revertConsult() {
      const that = this;
      Dialog.create({
        title: '确认撤回？',
        buttons: [
          '取消',
          {
            label: '确认',
            async handler() {
              try {
                await that.$store.dispatch('consult/changeStatus', 1);
                Toast.create({
                  html: '撤回成功。',
                  icon: 'success',
                  timeout: 2000,
                });
                that.$refs.positionModal.close();
                that.back();
              } catch (e) {
                Toast.create({
                  html: e.message,
                  icon: 'error',
                  timeout: 2000,
                });
              }
            },
          },
        ],
      });
    },
    verifyConsult() {
      const that = this;
      Dialog.create({
        title: '审核通过？',
        buttons: [
          {
            label: '取消',
            handler() {
              that.$refs.positionModal.close();
            },
          },
          {
            label: '确认',
            async handler() {
              try {
                await that.$store.dispatch('consult/changeAffirmStatus', 3);
                Toast.create({
                  html: '审核成功。',
                  icon: 'success',
                  timeout: 1000,
                });
                that.$refs.positionModal.close();
                that.back();
              } catch (e) {
                Toast.create({
                  html: e.message,
                  icon: 'error',
                  timeout: 1000,
                });
              }
            },
          },
        ],
      });
    },
    rejectConsult() {
      const that = this;
      Dialog.create({
        title: '审核拒绝？',
        buttons: [
          {
            label: '取消',
            handler() {
              that.$refs.positionModal.close();
            },
          },
          {
            label: '确认',
            async handler() {
              try {
                await that.$store.dispatch('consult/changeAffirmStatus', 4);
                Toast.create({
                  html: '已拒绝。',
                  icon: 'success',
                  timeout: 1000,
                });
                that.$refs.positionModal.close();
                that.back();
              } catch (e) {
                Toast.create({
                  html: e.message,
                  icon: 'error',
                  timeout: 1000,
                });
              }
            },
          },
        ],
      });
    },
  },
};
</script>
