<template >
    <q-layout ref="layout" view="hHr LpR lFr">
    <nuxt-child/>
    <q-tabs slot="footer" color="white" @select="selectTab">
      <q-tab slot="title" name="workspace" :color="selected('workspace') ? 'primary' : 'dark'" label="工作台" icon="icon-gongzuotai" class="iconfont"/>
      <q-tab slot="title" name="patient" :color="selected('patient') ? 'primary' : 'dark'" label="患者" icon="accessible" />
      <q-tab slot="title" name="user" :color="selected('user') ? 'primary' : 'dark'" label="我的" icon="icon-touxiang" class="iconfont"/>
    </q-tabs>
  </q-layout>
</template>
<style scoped>

</style>

<script>
export default{
  scrollToTop: true,
  data() {
    return {
    };
  },
  methods: {
    selectTab(name) {
      this.selectedTab = name;
      this.$router.replace(name);
    },
    selected(name) {
      if (this.$route.path.indexOf(name) > -1) {
        return true;
      }
      return false;
    },
  },
};
</script>

