<template >
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        消息
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" color="primary"/>
      </q-btn>
    </q-toolbar>
      <q-pull-to-refresh 
        pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
        :handler="refresh">    
        <q-list highlight no-border multiline class="f-bcw">
          <q-infinite-scroll ref="infiniteScroll" :handler="loadMore" > 
            <q-item v-for="(info, index) in $store.state.info.infoList" :key="index">
              <q-item-side >
                <q-item-tile icon="volume up" color="yellow-9" size="36px"/>
              </q-item-side>
              <q-item-main>
                <q-item-tile label>系统消息</q-item-tile>
                <q-item-tile sublabel>{{info.noticeTitle}}</q-item-tile>
              </q-item-main>
              <q-item-side right :stamp="info.sendTime" />
            </q-item>
            <div slot="message" class="row justify-center" style="margin-bottom: 30px;">
              <q-spinner-dots color="primary" :size="20" />
            </div>
          </q-infinite-scroll>
        </q-list>
      </q-pull-to-refresh>
  </q-layout>
</template>
<style scoped>

</style>
<script>
  import $C from '../plugins/$C';
  export default{
    data() {
      return {};
    },
    mounted() {
      this.init();
    },
    methods: {
      async init() {
        await this.$store.dispatch('info/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
      },
      async refresh(done) {
        await this.$store.dispatch('info/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.info.infoList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('info/loadMore', index);
        done();
      },
    },
  };
</script>

