<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        我的名片
      </q-toolbar-title>
    </q-toolbar>
    <div class="mid">
      <q-card color="white">
        <q-card-title>
          <div class="row">
            <div class="col-4">
              <img  class="user-title-icon" :src="baseSys+'common/getHeadPortrait?peopleId='+$store.state.corsuser.user.peopleId" alt=""/>
            </div>
            <div class="user-title text-faded">
              <span ><strong>{{$store.state.corsuser.user.name}}</strong></span>
              <q-chip square color="primary" style="margin-left: 15px"class="user-title-1 ">{{$store.state.corsuser.user.jobLevelName}}</q-chip>
              <div class=" user-title-1 f-mt10">
                {{$store.state.corsuser.user.orgName}}
                <span>{{$store.state.corsuser.user.deptName}}</span>
              </div>
            </div>
          </div>
        </q-card-title>
        <q-card-separator />
        <q-card-actions>
          <div class="qrCode" >
            <img   src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1062989499,1682648318&fm=58"/>
          </div>
        </q-card-actions>

        <q-card-main>
          <p class="text-faded" style="text-align: center">扫描二维码添加好友</p>
        </q-card-main>

      </q-card>
      <div class="gap"></div>
      <p class=" vertical-middle " style="text-align: center;color: darkgrey">———————     分享     ——————</p>

      <div class="row" >

        <div class="col f-mt10 " @click="">
          <div class="row justify-center">
            <q-btn round  flat>
              <q-icon name="icon-wechat" class="iconfont" color="tertiary " size="30px" />
            </q-btn>
          </div>
          <div class="f-tac f-fz14">微信</div>
        </div>

        <div class="col f-mt10 " @click="">
          <div class="row justify-center">
            <q-btn round  flat>
              <q-icon name="icon-cntencentwechatmoments" class="iconfont" color="tertiary " size="30px" />
            </q-btn>
          </div>
          <div class="f-tac f-fz14">朋友圈</div>
        </div>
        <div class="col f-mt10 " @click="">
          <div class="row justify-center">
            <q-btn round  flat>
              <q-icon name="icon-weibo" class="iconfont" color="tertiary " size="30px" />
            </q-btn>
          </div>
          <div class="f-tac f-fz14">微博</div>
        </div>
      </div>

    </div>
  </q-layout>
</template>
<style scoped>

  .user-title-icon {
    height: 74px;
    width: 74px;
    border-radius: 76px;
    background-color: #E9E9E9;
    margin-left:30px;
    margin-top: 20px;
  }
  .qrCode{
    width: 70%;
    height: 70%;
    margin: auto;
  }
  .qrCode img{
    height: 100%;
    width: 100%;
  }
  .user-title{
    margin-top: 25px;
  }
  .gap{
    height: 30px;
  }

</style>
<script>
  import $C from '../plugins/$C';
  export default {
    data() {
      return {
        baseSys: $C.baseSys,
      };
    },
  };
</script>
