<template >
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        病人详情
      </q-toolbar-title>
    </q-toolbar>

    <q-card>
      <q-item>
        <q-item-side >
          <q-item-tile icon="account circle" color="yellow-9" size="36px"/>
        </q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.patient.patientInfo.name}}   {{$store.state.patient.patientInfo.birthDate}}</q-item-tile>
          <q-item-tile sublabel>{{$store.state.patient.patientInfo.mpiId}}</q-item-tile>
          <q-item-tile sublabel>{{$store.state.patient.patientInfo.address}}</q-item-tile>
        </q-item-main>
      </q-item>
    </q-card>
    <q-card>
      <q-list highlight>
        <q-item>
          <q-item-side ><q-icon name="icon-shuangxiangzhuanzhen" class="iconfont" color="primary" size="30px"/></q-item-side>
          <q-item-main label="双向转诊" />
          <q-item-side right ><q-icon name="icon-next" class="iconfont" color="tertiary " size="24px"/></q-item-side>
        </q-item>
        <q-card-separator />
        <q-item>
          <q-item-side><q-icon name="icon-yuanchenghuizhen" class="iconfont" color="primary" size="30px"/></q-item-side>
          <q-item-main label="远程会诊" />
          <q-item-side right ><q-icon name="icon-next" class="iconfont" color="tertiary " size="24px"/></q-item-side>
        </q-item>
        <q-card-separator />
        <q-item>
          <q-item-side><q-icon name="icon-tingzhenqi" class="iconfont" color="primary" size="30px"/></q-item-side>
          <q-item-main label="网络会诊" />
          <q-item-side right ><q-icon name="icon-next" class="iconfont" color="tertiary " size="24px"/></q-item-side>
        </q-item>
      </q-list>
    </q-card>

    <q-card>
      <q-card-title>
        诊疗信息
      </q-card-title>
      <!--<q-card-separator />-->
      <q-card-main>
        <div class=" f-mt5">
          <div class="row " >
            <div class="col f-mt10 " @click="notUsed()">
              <div class="row justify-center">
                <q-icon name="icon-hospital" class="iconfont" color="primary " size="36px" />
              </div>
              <div class="f-tac f-fz14">门诊记录</div>
            </div>
            <div class="col f-mt10 " @click="notUsed()">
              <div class="row justify-center">
                <q-icon name="icon-yuanchenghuizhen" class="iconfont" color="amber-6 " size="36px" />
              </div>
              <div class="f-tac f-fz14">住院记录</div>
            </div>
            <div class="col f-mt10 " @click="notUsed()">
              <div class="row justify-center">
                <q-icon name="icon-yingxiang" class="iconfont" color="light-blue-6" size="36px" />
              </div>
              <div class="f-tac f-fz14">病例记录</div>
            </div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col f-mt10 f-mb10" @click="notUsed()">
              <div class="row justify-center">
                <q-icon name="icon-binglixue" class="iconfont" color="indigo-6" size="36px" />
              </div>
              <div class="f-tac f-fz14">检验记录</div>
            </div>
            <div class="col f-mt10 f-mb10" @click="notUsed()">
              <div class="row justify-center">
                <q-icon name="icon-binglixue" class="iconfont" color="deep-orange-6 " size="36px" />
              </div>
              <div class="f-tac f-fz14">检查记录</div>
            </div>
            <div class="col f-mt10 f-mb10" @click="notUsed()">
              <div class="row justify-center">
                <q-icon name="icon-binglixue" class="iconfont" color="pink-6" size="36px" />
              </div>
              <div class="f-tac f-fz14">用药记录</div>
            </div>
          </div>
        </div>
      </q-card-main>
    </q-card>

  </q-layout>
</template>
<style scoped>
  .user-title{
    margin: 30px;
  }
  .user-title-name{
    font-size:40px;
  }
  .user-title-1{
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .user-title-icon{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: #E9E9E9;
    margin-top: 20px;
  }
  .user-yw{
    margin-left: 50px;
  }
  .user-num{
    font-size: 30px;
    color: #0086FF;;
  }
</style>
<script>


</script>

