<template>
  <q-layout ref="layout" view="hHr LpR lFr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        双向转诊
      </q-toolbar-title>
      <q-btn flat>
        <q-icon name="add" @click="addReferral()"/>
      </q-btn>
    </q-toolbar>
    <q-tabs ref="tabs" inverted no-pane-border slot="navigation" style="background-color:white" @select="selectTab">
      <q-tab slot="title" name="referralOut" :color="selected('referralOut') ? 'primary' : 'dark'" label="我的转出" />
      <q-tab slot="title" name="referralIn" :color="selected('referralIn') ? 'primary' : 'dark'" label="我的接收"  />
    </q-tabs>
    <nuxt-child/>
  </q-layout>
</template>
<style scoped>
</style>
<script>
  export default{
    scrollToTop: true,
    data() {
      return {
      };
    },
    mounted() {
      if (this.$route.path.indexOf('referralOut') > -1) {
        this.$refs.tabs.selectTab('referralOut');
      } else {
        this.$refs.tabs.selectTab('referralIn');
      }
    },
    methods: {
      selectTab(name) {
        this.selectedTab = name;
        this.$router.replace(name);
      },
      selected(name) {
        if (this.$route.path.indexOf(name) > -1) {
          return true;
        }
        return false;
      },
      addReferral() {
        this.$store.commit('referral/resetReferral');
        this.jump('/referralRequest');
      },
    },
  };
</script>
