<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        转诊详情
      </q-toolbar-title>
      <span @click="doOption">{{$store.state.referral.referralDetail.referStatus|fReferOption(mode)}}</span>
    </q-toolbar>
    <q-list no-border>
      <q-list-header class="f-bcw">基本信息<q-chip class="status-chip" :color="$store.state.referral.referralDetail.referStatus|fReferColor" small>{{$store.state.referral.referralDetail.referStatus|fReferStatus}}</q-chip></q-list-header>
      <q-item class="f-bcw">
        <q-item-side>姓名</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.patient.name}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>编号</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.patient.sickId}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>医保类型</q-item-side>
        <q-item-main>
          <q-item-tile label></q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>联系地址</q-item-side>
        <q-item-main>
          <q-item-tile label></q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">转诊信息</q-list-header>
      <q-item class="f-bcw">
        <q-item-side>转诊类型</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.referralDetail.referType|fReferType}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>预约时间</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.schedule.scheduleDate}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>转入医院</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.hospital.receiveHospitalName}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>接诊医生</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.doctor.receiveDoctorName}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">病情资料</q-list-header>
      <q-item class="f-bcw">
        <q-item-side>初步诊断</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.referralDetail.referDemand}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>转诊原因</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.referralDetail.referReason}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-side>病情资料</q-item-side>
        <q-item-main>
          <q-item-tile label>{{$store.state.referral.referralDetail.patientSummary}}</q-item-tile>
        </q-item-main>
      </q-item>
      <q-list-header class="f-mt10 f-bcw">附件</q-list-header>
      <q-item class="f-bcw">
        <q-item-main>
         <q-item-tile label> <div class="image-gallery"> <q-gallery-carousel :src="gallery" fullscreen infinite/> </div></q-item-tile>
        </q-item-main>
      </q-item>
    </q-list> 
    <q-modal ref="positionModal" position="bottom" :content-css="{'max-height': '80vh', height: 'auto'}">
      <div class="row justify-center">
        <q-btn color="primary" class="g-w90 f-m10" 
          @click="verifyReferral()">同意
        </q-btn>
        <q-btn color="white" class="g-w90 f-m10 f-mt5 text-dark" 
          @click="rejectReferral()">拒绝
        </q-btn>
      </div>
    </q-modal>
  </q-layout>
</template>
<style scoped>
  .status-chip{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
  }
</style>
<script>
  import { Dialog, Toast } from 'quasar-framework';
  export default{
    data() {
      return {
        mode: 0,
      };
    },
    computed: {
      gallery: {
        get() {
          return this.$store.state.referral.attachments.map(el => el.src);
        },
      },
    },
    async mounted() {
      if (this.$route.query.mode) {
        this.mode = this.$route.query.mode;
        await this.$store.dispatch('referral/acquireAttachments');
      }
    },
    methods: {
      doOption() {
        const that = this;
        if (!this.$store.state.referral.referralDetail.referStatus) return;
        switch (parseInt(this.$store.state.referral.referralDetail.referStatus)) {
          case 1: return this.modifyReferral();
          case 2:
            if (parseInt(that.mode) !== 0) {
              this.$refs.positionModal.open();
              return;
            }
            return this.revertReferral();
          case 3:
            if (parseInt(that.mode) !== 0) {
              this.acceptReferral();
            }
            return '转诊单';
          case 4: return '转诊单';
          case 5: return '转诊单';
          case 6: return '转诊单';
          case 7: return '转诊单';
          case 99: return '转诊单';
          default: return '';
        }
      },
      modifyReferral() {
        this.jump('/referralRequest');
      },
      revertReferral() {
        const that = this;
        Dialog.create({
          title: '确认撤回？',
          buttons: [
            {
              label: '取消',
              handler() {
                console.log('Disagreed...');
              },
            },
            {
              label: '确认',
              async handler() {
                try {
                  await that.$store.dispatch('referral/changeStatus', 1);
                  Toast.create({
                    html: '撤回成功。',
                    icon: 'success',
                    timeout: 2000,
                  });
                  that.$refs.positionModal.close();
                  that.back();
                } catch (e) {
                  Toast.create({
                    html: e.message,
                    icon: 'error',
                    timeout: 2000,
                  });
                }
              },
            },
          ],
        });
      },
      acceptReferral() {
        const that = this;
        Dialog.create({
          title: '确认报到？',
          buttons: [
            {
              label: '取消',
              handler() {
                console.log('Disagreed...');
              },
            },
            {
              label: '确认',
              async handler() {
                try {
                  await that.$store.dispatch('referral/changeStatus', 6);
                  Toast.create({
                    html: '报到成功。',
                    icon: 'success',
                    timeout: 2000,
                  });
                  that.$refs.positionModal.close();
                  that.back();
                } catch (e) {
                  Toast.create({
                    html: e.message,
                    icon: 'error',
                    timeout: 2000,
                  });
                }
              },
            },
          ],
        });
      },
      verifyReferral() {
        const that = this;
        Dialog.create({
          title: '审核通过？',
          buttons: [
            {
              label: '取消',
              handler() {
                that.$refs.positionModal.close();
              },
            },
            {
              label: '确认',
              async handler() {
                try {
                  await that.$store.dispatch('referral/changeStatus', 3);
                  Toast.create({
                    html: '审核成功。',
                    icon: 'success',
                    timeout: 1000,
                  });
                  that.$refs.positionModal.close();
                  that.back();
                } catch (e) {
                  Toast.create({
                    html: e.message,
                    icon: 'error',
                    timeout: 1000,
                  });
                }
              },
            },
          ],
        });
      },
      rejectReferral() {
        const that = this;
        Dialog.create({
          title: '审核拒绝？',
          buttons: [
            {
              label: '取消',
              handler() {
                that.$refs.positionModal.close();
              },
            },
            {
              label: '确认',
              async handler() {
                try {
                  await that.$store.dispatch('referral/changeStatus', 4);
                  Toast.create({
                    html: '已拒绝。',
                    icon: 'success',
                    timeout: 1000,
                  });
                  that.$refs.positionModal.close();
                  that.back();
                } catch (e) {
                  Toast.create({
                    html: e.message,
                    icon: 'error',
                    timeout: 1000,
                  });
                }
              },
            },
          ],
        });
      },
    },
  };
</script>
