<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar slot="header" color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        发布信息
      </q-toolbar-title>
      <span @click="submit()">发布</span>
    </q-toolbar>
    <q-list no-border>
      <q-item class="f-bcw">
        <q-item-main>
          <q-input v-model="title" placeholder="标题" />
        </q-item-main>
      </q-item>
      <q-item class="f-bcw">
        <q-item-main>
          <q-input v-model="content" type="textarea" placeholder="请输入发布内容，字数不少于十个字" :min-rows="12"/>
        </q-item-main>
      </q-item>
    </q-list>
    <div class="footer">
      <q-btn class="footer-release" color="primary"  @click="submit()">发布</q-btn>
    </div>
  </q-layout>
</template>
<style scoped>
.footer{
  position:fixed;
  margin:0 auto;
  bottom: 0;
  height: 48px;
  width: 100%;
}
.footer-release{
  padding: 14px 40%;
  text-align: center;
  margin-left: 8%;
  color: #fff;
  line-height: auto;
}
</style>
<script>
  import { Toast } from 'quasar-framework';
  export default{
    data() {
      return {
        title: '',
        content: '',
      };
    },
    methods: {
      async submit() {
        try {
          await this.$store.dispatch('consult/submit');
          Toast.create({
            html: '保存成功',
            icon: 'success',
            timeout: 2000,
          });
          this.back();
        } catch (e) {
          Toast.create({
            html: e.message,
            icon: 'error',
            timeout: 2000,
          });
        }
      },
    },
  };
</script>
