<template>
  <q-layout ref="layout" view="hHr LpR lfr">
    <q-toolbar color="primary">
      <q-btn flat>
        <q-icon name="reply" @click="back()" />
      </q-btn>
      <q-toolbar-title style="text-align: center">
        个人资料
      </q-toolbar-title>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </q-toolbar>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>头像</q-item-tile>
        </q-item-side>
        <q-item-main>
          <img  class="user-title-icon" :src="baseSys+'common/getHeadPortrait?peopleId='+$store.state.corsuser.user.peopleId"/>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>姓名</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p style="text-align: right;padding-right: 12px;">{{$store.state.corsuser.user.name}}</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>性别</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p style="text-align: right;padding-right: 12px;">{{$store.state.corsuser.user.sexName}}</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>手机号码</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p style="text-align: right;padding-right: 12px;">{{$store.state.corsuser.user.phoneNumber}}</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
     <q-item>
        <q-item-side >
          <q-item-tile>登入账号</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p style="text-align: right;padding-right: 12px;">{{$store.state.corsuser.user.loginName}}</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>登入密码</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p style="text-align: right;padding-right: 12px;">修改</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>所属机构</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p style="text-align: right;padding-right: 12px;">{{$store.state.corsuser.user.orgName}}</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>科室名称</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p style="text-align: right;padding-right: 12px;">{{$store.state.corsuser.user.deptName}}</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>擅长</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p class="user-body-p" :class="{ hiddenText: isActive1}" @click="isActive1===true ?isActive1=false: isActive1=true" >{{$store.state.corsuser.user.speciality}}</p>
        </q-item-main>
      </q-item>
    </div>
    <div class="user-body">
      <q-item>
        <q-item-side >
          <q-item-tile>介绍</q-item-tile>
        </q-item-side>
        <q-item-main>
          <p class="user-body-p" :class="{ hiddenText: isActive2}" @click="isActive2===true ?isActive2=false: isActive2=true" >{{$store.state.corsuser.user.introduce}}</p>
        </q-item-main>
      </q-item>
    </div>
  </q-layout>
</template>
<style scoped>
  .user-height{
    height: 35px;
  }
  .user-body{
    margin-top:1px;
    height: auto; 
    line-height:50%; 
    background-color: #ffffff;
  }
  .user-body-p{
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
  }
  .hiddenText{
    overflow:hidden; 
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
  }
  .user-title-icon{
    height: 36px;
    width: 36px;
    border-radius: 36px;
    background-color: #E9E9E9;
    float: right;
    margin-top:6px;
    padding-right: 12px;
  }
  .user-position-arrow{
    float:right;
  }
</style>
<script>
  import $C from '../plugins/$C';
  export default {
    data() {
      return {
        baseSys: $C.baseSys,
        name: '',
        selectSex: '',
        option: [
          { label: '男', value: '1' },
          { label: '女', value: '2' },
        ],
        phone: '',
        username: '',
        password: '',
        depname: '',
        advange: '',
        intro: '',
        isActive1: true,
        isActive2: true,
      };
    },
  };
</script>

