<template >
  <q-pull-to-refresh 
    pull-message="下拉刷新列表" release-message="松开刷新列表" refresh-message="刷新中..."
    :handler="refresh">    
    <q-list highlight no-border multiline class="f-bcw">
      <q-infinite-scroll ref="infiniteScroll" :handler="loadMore" > 
        <q-item separator v-for="(el, index) in $store.state.referralIn.referralInList" :key="index" @click="select(el)"> 
          <q-item-main>
            <q-item-tile label>{{el.name}} {{el.sex | fSex}} {{el.age}}</q-item-tile>
            <q-item-tile sublabel lines="2" class="f-mt10 f-mb5 f-pr10">
              申请原因：{{el.referReason}}
            </q-item-tile>
            <q-item-tile sublabel >
              <span><q-chip square >{{el.referType|fReferType}}</q-chip></span>
              {{el.receiveHospitalName}}
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
            <q-item-tile label lines="1"> <q-chip :color="el.referStatus|fReferColor" small>{{el.referStatus|fReferStatus}}</q-chip></q-item-tile>
            <q-item-tile stamp style="margin-top: 20px">{{el.lastEditDate}}</q-item-tile>
          </q-item-side>
        </q-item>
        <div slot="message" class="row justify-center" style="margin-bottom: 30px;">
          <q-spinner-dots color="primary" :size="20" />
        </div>
      </q-infinite-scroll>
    </q-list>
  </q-pull-to-refresh>
</template>
<style scoped>
</style>

<script>
  import $C from '../../plugins/$C';
  export default{
    data() {
      return {};
    },
    mounted() {
      this.init();
    },
    methods: {
      async init() {
        await this.$store.dispatch('referralIn/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
      },
      async refresh(done) {
        await this.$store.dispatch('referralIn/refresh');
        this.$refs.infiniteScroll.reset();
        this.$refs.infiniteScroll.resume();
        done();
      },
      async loadMore(index, done) {
        // stop infiniteScroll when list loaded.
        if (this.$store.state.referralIn.referralInList.length / $C.pageSize !== index) {
          this.$refs.infiniteScroll.stop();
          done();
          return;
        }
        await this.$store.dispatch('referralIn/loadMore', index);
        done();
      },
      async select(el) {
        this.$store.commit('referral/updateReferral', el);
        this.jump('/referralDetail?mode=1');
      },
    },
  };
</script>
